In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.5)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.4)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [5]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [10]:
s=df['Name'][0:10]

In [11]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [9]:
len(s)

891

In [12]:
type(s)

pandas.core.series.Series

In [21]:
l=['suraj','b','c','d','e','f','g','h','i','j']

In [22]:
s1=pd.Series(list(s),index=l)

In [23]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [24]:
s1

suraj                              Braund, Mr. Owen Harris
b        Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                   Heikkinen, Miss. Laina
d             Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                 Allen, Mr. William Henry
f                                         Moran, Mr. James
g                                  McCarthy, Mr. Timothy J
h                           Palsson, Master. Gosta Leonard
i        Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                      Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [25]:
s[0]

'Braund, Mr. Owen Harris'

In [26]:
s1[0]

'Braund, Mr. Owen Harris'

In [27]:
s1['suraj']

'Braund, Mr. Owen Harris'

In [28]:
s1.append("sandhya")

/tmp/ipykernel_104/1097111645.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s1.append("sandhya")

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [30]:
s2=s1.append(s)

/tmp/ipykernel_104/2552242485.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2=s1.append(s)

In [31]:
s2[0]

'Braund, Mr. Owen Harris'

In [32]:
s2[4]

'Allen, Mr. William Henry'

In [39]:
s3=pd.Series([3,4,5,6,7],index=[2,3,4,5,6])

In [36]:
s4=pd.Series([33,41,52,65,76],index=[22,33,44,55,66])

In [42]:
s5=s4.append(s3)

/tmp/ipykernel_104/428190708.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s5=s4.append(s3)

In [43]:
s5[4]

5

In [44]:
s5

22    33
33    41
44    52
55    65
66    76
2      3
3      4
4      5
5      6
6      7
dtype: int64

In [45]:
s5[0:6]

/tmp/ipykernel_104/3383369816.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s5[0:6]

22    33
33    41
44    52
55    65
66    76
2      3
dtype: int64

In [46]:
s4

22    33
33    41
44    52
55    65
66    76
dtype: int64

In [47]:
s5

22    33
33    41
44    52
55    65
66    76
2      3
3      4
4      5
5      6
6      7
dtype: int64

In [48]:
s4*s5

2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
22    1089.0
33    1681.0
44    2704.0
55    4225.0
66    5776.0
dtype: float64